{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
 <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
             <div class="row center">
                <h2>Login</h2>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn-small waves-effect waves-light teal lighten-1">Login</button>
                </form>
                <h5 class="header col s12 light">Old is cool.</h5>
            </div>
            <br><br>
         </div>
    </div>
</div>
{% endblock %}
