{% extends "base.html" %}
{% load static staticfiles i18n %}
{% block content %}
    <div class="container">
    {% if not object_list %}
    <div class="row">
        <p>No vinyl registered yet :(</p>
    </div>
    {% endif %}
    {% for vinyl in object_list %}
     <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'background1.jpg' %}">
              <span class="card-title">{{ vinyl.name }}</span>
              <a data-delete-url="{% url "delete" vinyl.pk %}" class="delete-btn btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
            <div class="card-content">
                <p>
                    <strong>Band:</strong> {{ vinyl.band.name }}
                </p>
                <p>
                    <strong>Record Company:</strong>  {{ vinyl.record_company.name }}
                </p>
                <p>{{ vinyl.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url "update" vinyl.pk %}">Edit</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <a href="{% url 'create' %}" class="waves-effect waves-light btn right">New</a>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(".delete-btn").click((data) => {
            const url = $(data.currentTarget).data("delete-url");
            $.ajax({
                method: "POST",
                url,
                data: {}
            })
          .done(function() {
            $(data.currentTarget.parentElement.parentElement).hide()
            Swal({
              type: 'success',
              title: 'Vinyl has been deleted',
              showConfirmButton: true,
            })
          });
        });
    </script>
{% endblock %}
