{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <a class="btn" href="{% url "list" %}" name="action">
        <i class="material-icons left">arrow_back</i>Back
    </a>
    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
  });
</script>
{% endblock %}
