<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            {% if user.last_name %}
                {% load cache %}
                {% cache 500 sidebar %}
                <h4><strong>Hi {{ user.last_name }}, Welcome to Vinyl Store! </strong></h4>
                {% endcache %}
            {% else %}
                <h4><strong>Hi Padawan, Welcome to Vinyl Store! Call to your Jedi Master to update your name.</strong></h4>
            {% endif %}
            <h4>Let's go to create new vinyls ?</h4>
            <a href="{% url 'list' %}" class="waves-effect waves-light btn right">Go to Vinyls</a>


        </div>
    </div>

  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
